<ns-action-bar></ns-action-bar>
<StackLayout>
  <Label
    class="privacy"
    textWrap="true"
    text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, libero odio provident iure quam fugit ipsum accusamus! Natus magni maxime repellat, inventore hic consectetur labore neque animi, fugit totam corrupti. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error voluptatum quos rerum commodi tempora dicta fugit eaque. Ipsam fugit laudantium doloremque voluptas, maxime quos nemo magnam ducimus aspernatur? Reiciendis, blanditiis."
  ></Label>
</StackLayout>
